<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
  crossorigin=""/>

  <!-- Scripts -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/map.js"></script>
  <script type="text/javascript" src="/scripts/addNewMap.js"></script>
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
  crossorigin=""></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</head>

<body>
  <!-- Side panel -->
  <div class="side-nav">
    <div class="logo">

    </div>
    <div>
      <form class="map-form" method="POST" action="/api/maps">
        <label class="form-label" for="mapName"><b>Map Name</b></label>
        <input class="form-control" type="text" name="mapName" required>
        <button class="add-map" type="submit">Add New Map</button>
      </form>
    </div>
  </div>
  <!-- Map body -->
  <div id="map">
  </div>
  <!-- Map name input form -->

</body>

</html>
