<!DOCTYPE html>
<html lang="en">

<head>
  <title>WikiMap</title>

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/new-map.css" type="text/css" />
  <link rel="stylesheet" href="/styles/side-panel.css" type="text/css" />
  <link rel="stylesheet" href="/styles/marker-form.css" type="text/css" />
  <link rel="stylesheet" href="/styles/marker-info.css" type="text/css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" />
  <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Joan&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Scripts -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/mapInitialize.js"></script>
  <script type="text/javascript" src="/scripts/addNewMap.js"></script>
  <script type="text/javascript" src="/scripts/loadUserMaps.js"></script>
  <script type="text/javascript" src="/scripts/addFavorite.js"></script>

  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
    integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
    crossorigin=""></script>
  <script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>


</head>

<body>
  <div class="marker-dropdown">
    <button>📌</button>
    <div class="marker-list-pop">
    </div>
  </div>


  <!-- Side nav panel -->
  <div class="side-nav">
    <!-- Logo -->
    <section class="logo" data-user="<%= userInfo.id %>">
      <p><strong>WikiMap</strong></p>
    </section>
    <section class="user-welcome">
      <p><strong>Hi, <%= userInfo.first_name %></strong></p>
      <div class="user-action-buttons">
        <!-- User profile button -->
        <form action="/api/users/me" method="GET">
          <button class="profile-button" type="submit">Profile</button>
        </form>
        <!-- Log out button -->
        <form action="/api/users/logout" method="GET">
          <button class="logout-button" type="submit">Sign out</button>
        </form>

      </div>
    </section>


    <!-- User maps menu -->
    <div class="maps-main-header">
      <p id="user-maps-header">Maps</p>
      <p id="user-maps-header-creator">By</p>
    </div>
    <section class="user-menu">
      <div class="user-maps">
        <ul class="map-list" style="list-style: square">
      </div>
      <div class="add-map-form">
        <form class="map-form" method="POST" action="/api/maps">

          <div>
            <input class="map-form-input" type="text" name="mapName" placeholder="Add a new map" required>
            <button class="add-map-button" type="submit">Add</button>
          </div>
        </form>
      </div>
    </section>
  </div>
  <!-- Map body -->
  <div class='custom-popup' id='map'></div>

  <!-- Map name input form -->

</body>

</html>
