.add-map-form {
  width: 15rem;
  margin-left: 0.4rem;
}

.map-form-input {
  width: 100%;
  border-style: none;
  border-bottom: 0.1rem solid black;
  background-color: #f9f9fb;
  margin-top: 1rem;
}

.add-map-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
